﻿body {
    padding-top: 50px;
    padding-bottom: 20px; 
    background-image: url('Images/blue-bg.jpg'); 
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.form-control-error {
  border-radius: 0 !important;
  box-shadow: none !important;
  border-color: #a94442 !important;
}
.form-control-error:focus {
  border-color: #df3c39 !important;
  box-shadow: none !important;
}

 

#box{
    border: 1px solid rgb(200, 200, 200);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
    background: rgba(200, 200, 200, 0.1);
    border-radius: 4px;
    top:50px;
}